* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 9vh;
    background-color: rgb(209, 210, 212);
    padding: 10px;
    margin-bottom:2%;
}
footer {
    height: 9vh;
    background-color: rgb(209, 210, 212);
    padding: 10px;
    margin-top: 2%;
    
}
.content-all{
    display: flex;
    flex-direction:row;
      
}

.content-a {
    background-color: rgb(140,198,63);
    height:77vh;
    width: 30%;
    padding: 10px;
    
}

.content-b {
    background-color: rgb(11,148,68);
    height:77vh;
    width: 25%;
    padding: 10px;
}

.content-c {
    background-color: rgb(245, 238, 49);
    width: 25%; 
    height:77vh;
    padding: 10px;
    order: 3;
   
}
.content-all {
    height: 77%;
    display: flex;
    flex-direction: row;
}


.content-a
{
    flex-grow: 1; 
    order: 1; 
}


@media screen and (max-width:768px) {
   
    .content-all {
        height: 77%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content-a
    {
        flex-grow: 1; 
        order: 0; 
        width: 100vw;
        height: 50vh;
    }
    .content-b,.content-c{
        width: 50%;
        height:28vh;
    }
    
}

   
@media screen and (max-width:320px) {
    .content-all {
        height: 77%;
        display: flex;
        flex-direction: column;
      
    }
    .content-a{
        height: 38vh;
    }
    .content-b,.content-c{
        width: 100%;
        height: 19;
    }

    }  

