* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
}
header {
    height: 9%;
    background-color: rgb(209, 210, 212);
    padding: 10px;
    margin-bottom:1%;
}
.content-all{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.content-ab{
    height: 100%;
    width: 80%;
}
.content-a {
    background-color: rgb(239, 64, 54);
    height:50%;
    width: 100vw;
    padding: 10px;
}

.content-b {
    background-color: rgb(252, 176, 64);
    height:50%;
    width: 100vw;

    padding: 10px;
}

.content-c {
    background-color: rgb(245, 238, 49);
    width: 20vw; 
    height: 100%;
    padding: 10px;
}

footer {
    height: 9%;
    background-color: rgb(209, 210, 212);
    padding: 10px;
    margin-top: 1%;
    
}
@media screen and (max-width:375px) {
    .content-all {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100vw;
    }
    .content-ab {
        width: 30vw;
        height: 52vh;
    }
    .content-c {
        width: 100% !important; 
        height: 26vh;
    }
}


 
   
@media screen and (max-width:768px) {
    .content-ab{
        width: 50%;
    }
      .content-c{
         width: 50%; 
      }
       
    }  